* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, "Trebuchet MS", sans-serif;
  background: #fff url(../img/bg.png);
  margin: 15px;
}

ul {
  list-style: none;
}

h2 {
  color: #7d7640;
  font-size: 1.1em;
  padding: 5px 0px;
}

p {
  font-size: 1em;
  margin-bottom: 10px;
}