/* Header */
.container {
  width: 750px;
  margin: 0 auto;
}

.top {
  height: 150px;
  background: url(../img/detalhe-topo.png) no-repeat right top;
  padding-top: 25px;
}

.logo {
  width: 152px;
  height: 66px;
  background: url(../img/logo.png) no-repeat center;
  text-indent: -99999px;
}

/* Barra de Navegação */
.menu-navegacao .menu {
  margin-top: 30px;
  background: #b10333;
  float: left;
  border-radius: 10px;
}

.menu-navegacao .menu li {
  float: left;
}

.menu-navegacao .menu li a {
  font-size: 0.9em;
  display: block;
  padding: 0.5em 1.5em;
  line-height: 2.1em;
  text-decoration: none;
  color: #fff;
  background: url(../img/divisor.png) no-repeat left center;
}

.menu-navegacao .menu .first a {
  background: none;
}

.menu-navegacao .menu a:hover {
  color: #69001d;
}

body.home .menu-navegacao a#home {
  background-color: #de003e;
  color: #fff;
  cursor: text;
  border-radius: 10px 0 0 10px; 
}

body.brasil .menu-navegacao a#brasil,
body.internacional .menu-navegacao a#internacional,
body.economia .menu-navegacao a#economia,
body.saude .menu-navegacao a#saude,
body.ciencia .menu-navegacao a#ciencia {
  background-color: #de003e;
  color: #fff;
  cursor: text;
}

body.fotos .menu-navegacao a#fotos {
  background-color: #de003e;
  color: #fff;
  cursor: text;
  border-radius: 0 10px 10px 0;
}